.main_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    .messenger_container {
        display: flex;
        justify-content: flex-start;
        border: 1px solid #d3d3d3;
        margin-top: 0 !important;
        margin-bottom: 30px;
        position: relative;
        margin-left: auto !important;
        margin-right: auto !important;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 75%);
        height: 90%;
        width: 70%;

        @media (max-width: 550px) {
            width: 100%;
            height: 100%;
            margin-left: unset;
            margin-right: unset;
            margin-bottom: unset;
        }

        .flex_container {
            display: flex;
            width: 100%;

            .active_side {

                @media (max-width: 550px) {
                    display: flex;
                    flex-direction: column;
                }
            }

            .inactive_side {

                @media (max-width: 550px) {
                    display: none;
                }
            }
            
            .left_side, .conversation_list {
                width: 30%;
                padding: 10px;
                box-shadow: 0 10px 15px rgba(0, 0, 0, 25%);
                z-index: 2;
                // display: flex;
                // flex-direction: column;

                @media (max-width: 550px) {
                    width: 100%;
                }

                .conversations {
                    padding: 12px 5px;
                    margin-bottom: 5px;
                    border-left: 5px solid transparent;
                    font-weight: 700;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;

                    @media (max-width: 980px) {
                        font-size: .8rem;
                    }
                }

                .conversations_active {
                    font-weight: 700;
                    font-size: 1rem;
                    padding: 12px 5px;
                    margin-bottom: 5px;
                    background-color: #fff;
                    box-shadow: 0 0 10px #ddd;
                    border-left: 5px solid #F0512F;
                    display: flex;
                    align-items: center;

                    @media (max-width: 980px) {
                        font-size: .9rem;
                    }
                }
            }

            .right_side, .conversation {
                width: 70%;
                padding: 10px;
                background-color: #fff;

                @media (max-width: 550px) {
                    width: unset;
                    padding-left: 15px;
                }

                .top_bar {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-between;
                    box-shadow: 0 4px 10px -2px grey;
                    height: 10%;

                    .recipent {
                        margin-left: 2%;
                    }
                    
                    .info_btn {
                        font-size: 25px;
                        padding-top: 25px;
                        margin-right: 2%;
                        cursor: pointer;

                        @media (max-width: 550px) {
                            padding-top: 19px;
                        }
                    }

                    .back_btn {
                        font-size: 25px;
                        color: lightgray;
                        cursor: pointer;

                        @media (min-width: 550px) {
                            display: none;
                        }
                    }
                }

                .messages {
                    height: 75%;
                    margin-top: 10px;
                    box-shadow: 0 4px 10px -2px grey;

                    @media (max-width: 550px) {
                        height: 140%;
                    }

                    .sent_message {
                        float: right;
                        margin-top: 2%;
                        margin-right: 3%;
                        border: 1px solid #F0512F;
                        border-radius: 5px;
                        background: #F0512F;
                        padding: 3px;
                        color: white;
                    }

                    .recieved_message {
                        margin-top: 3%;
                        border: 1px solid #3366CC;
                        border-radius: 5px;
                        background: #3366CC;
                        padding: 3px;
                        margin-left: 3%;
                        float: left;
                        color: white;
                    }
                }

                .input, .bottom_bar {
                    display: flex;
                    margin-top: 10px;
                    box-shadow: 0 4px 10px -2px grey;
                    height: 12%;

                    .message_input {
                        display: flex;
                        flex-direction: row-reverse;
                        height: 70%;
                        margin-top: 1.5%;
                        margin-left: 3%;
                        margin-right: 3%;
                        border-radius: 5px;
                        box-shadow: inset 0px 0px 4px -2px rgba(0,0,0,0.60);
                        width: 90%;
                        padding-left: 15px;

                        // .textarea-wrapper {
                        //     width: 100%;
                        //     padding-left: 10px;
                        // }
                    }

                    .message_send_btn {
                        --border-radius: 50px;
                        --background: #F0512F;
                        height: 22px;
                        --box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.10);
                        font-size: 12px;
                        margin-right: 10px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}