<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_container">
    <div class="messenger_container">
      <div class="flex_container">
        <div class="left_side conversation_list" [ngClass]="sides.left ? 'active_side' : 'inactive_side'">
          <ion-item lines="none" class="conversations" *ngFor="let convo of conversations" [ngClass]="{'conversations_active' : convo.active}" (click)="getConversation(convo.id)">{{convo.name}}</ion-item>
        </div>
        <div class="right_side conversation" [ngClass]="sides.right ? 'active_side' : 'inactive_side'">
          <div class="top_bar">
            <ion-icon name="arrow-back" class="back_btn" (click)="changeSides()"></ion-icon>
            <h2 class="recipent">{{active_convo.name}}</h2>
            <ion-icon class="info_btn" (click)="openInfo()" name="information-circle-outline"></ion-icon>
          </div>
          <div class="messages">
            <div class="sent_message">Hello, {{active_convo.name}}, how are you today?</div>
            <div class="recieved_message">I am well, how can I help you?</div>
          </div>
          <div class="input bottom_bar">
            <ion-textarea class="message_input" type="textarea" spellcheck="true" wrap="soft" [(ngModel)]="new_message"><ion-button (click)="sendMessage()" class="message_send_btn">Send</ion-button></ion-textarea>
            <!-- <ion-input class="message_input" type="textarea" [(ngModel)]="new_message"><ion-button (click)="sendMessage()" class="message_send_btn">Send</ion-button></ion-input> -->
            <!-- <ion-button class="message_send_btn">Send</ion-button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
