<ion-header>  
  <ion-toolbar>  
    <ion-buttons slot="start">  
      <ion-button href="/choose-reg"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>  
    <ion-title>  
    </ion-title>  
  </ion-toolbar>   
</ion-header> 

<ion-content>
  <div class="main-container">
    <div class="registration-container">
      <div class="second-container">
        <div class="reg-logo-container">
          <h1>MyContractor</h1>
          <h5 class="no-account">Don't have an account? <span class="sign-up-link" (click)="this.router.navigate([''])"> Create one here!</span></h5><!--<h5 class="sign-up-link" (click)="this.router.navigate([''])"> Create one here!</h5>-->
        </div>
        <div class="signin-form-container">
          <h2>Login</h2>
          <form>
            <ion-input class="login-input" type="email" placeholder="Email Address" name="email" [(ngModel)]="user.email_address"></ion-input>
            <ion-input class="login-input" type="phone" placeholder="Phone Number" name="phone" [(ngModel)]="user.phone_number"></ion-input>
            <ion-input class="login-input" type="password" placeholder="Password" name="password" [(ngModel)]="user.password"></ion-input>
            <ion-button class="login-button" type="submit" [ngStyle]="user.email_address && user.password && user.phone_number ? {'opacity':'1'} : {'opacity': '0.6'}" (click)="signIn()">Submit</ion-button>
          </form>
        </div>
        <div class="dont-have-account">
          <!-- <p class="footer_links" (click)="this.router.navigate(['forgotUsername'])">Forgot username</p>
          <p class="footer_links" (click)="this.router.navigate(['forgotPassword'])">Forgot password</p> -->
          <p class="footer_links">Forgot username</p>
          <p class="footer_links">Remember Me <ion-checkbox name="remember_me" [(ngModel)]="remember_me" ></ion-checkbox></p>
          <p class="footer_links">Forgot password</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
