.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .registration-container {
        display: flex;
        width: 65%;
        background-color: #FCFCFC;
        justify-content: center;
        align-self: center;
        --box-shadow: 0px 0px 24px -13px rgb(0 0 0 / 75%);

        .second-container {
            width: 90%;

            .reg-logo-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                @media (max-width: 900px) {
                    flex-direction: column;
                    justify-content: unset;
                }

                h1 {
                    font-weight: 600;

                    @media (max-width: 900px) {
                        margin-bottom: 0 !important;
                    }
                }

                .no-account {
                    color: darkgray;
                    padding-top: 15px;

                    @media (max-width: 900px) {
                        margin: 0 !important;
                        padding-top: 0;
                    }
                }

                .sign-up-link {
                    text-align: center;
                    color: #FF7F50;
                    cursor: pointer;
                }
            }

            .signin-form-container {
                margin-top: 2rem;

                ion-input {
                    margin-top: 15px !important;
                    height: 100%;
                    background: #e8e2e1;

                    &:focus {
                        --background-color: #fff;
                        --webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.10);
                        --moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.10);
                        --box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.10);
                    }
                }

                h2 {
                    font-weight: 600;
                }

                .login-button {
                    width: 99.5%;
                    --background: #FF7F50;
                    margin-bottom: 20px;
                }
            }

            .dont-have-account {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 20px;

                .footer_links {
                    cursor: pointer;
                }
            }

        }
    }
}

ion-icon {
    color: #fff;
}

.error-container {
	text-align: center;
	width: 100%;
	border: 1px solid rgb(245, 177, 177);
	background-color: rgb(245, 177, 177);
	padding: 0.5rem;
	margin: 0.5rem 0rem;
	transition: 0.5s ease-in;
	
	h2 {
		color: #000;
		font-weight: 500;
		font-size: 1.2rem;
	}
}