

ion-card {
  --ion-background-color: white;
  box-shadow: 0px 4px 5px 1px rgba(140, 132, 140, 50%);
}

.job-list-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  align-items: center;
}

.job-content-col{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.filter-col {
  display: flex;
  flex-direction: column;
  width: 80%;
  box-shadow: 0px 4px 5px 1px rgba(140, 132, 140, 50%);
  height: auto;
  border-radius: 4px;
  margin-bottom: 10%;
}

.filter-title{
  background-color: #FF7F50;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #ffffff;
  padding: 10px;
}

.filter-col h4 {
  padding-bottom: 10px;
  font-weight: bolder;
}

.filter-col h5 {
  background: #FF7F50;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bolder;
}

.date-col {
  display: flex;
  flex-direction: column;
  width: 80%;
  box-shadow: 0px 4px 5px 1px rgba(140, 132, 140, 50%);
  height: auto;
  border-radius: 4px;
}

.date-col h4 {
  padding-bottom: 10px;
  font-weight: bolder;
}

.date-col h5 {
  background: #FF7F50;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bolder;
}


button {
  background-color: #FF7F50;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
  font-weight: bold;
}

.content-col {
  display: flex;
  flex-direction: column;
  display: flex;
  width: 300px;
  padding: 10px;
  align-items: center;
}

.filter-content{
  padding: 12px;
}

.filter-content ion-input {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}

@media only screen and (max-width: 1045px)  {
    
  .job-list-section {
    flex-direction: column;
  }
  .filter-col {
    width: 100%;
    margin-bottom: 30px;
    order: 1;
  }

  .job-content-col {
    width: 100%;
    order: 3;
  }

  .date-col {
    width: 100%;
    margin-bottom: 30px;
    order: 2;
  }

}

@media only screen and (max-width: 398px)  {
  


}