<ion-header>  
  <ion-toolbar>  
    <ion-buttons slot="start">  
      <ion-menu-button></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
    </ion-title>  
  </ion-toolbar>   
</ion-header> 

<ion-content>
   <div class="job-list-section">
      <div class="content-col">
         <div class="filter-col">
            <div class="filter-title">
               <h4>
                  My Filters 
                  <ion-icon name="create-outline"></ion-icon>
               </h4>
            </div>
            <div class="filter-content">
               <h5 *ngFor="let filter of myFilters">{{filter.user_services}}</h5>
            </div>
         </div>
         <div class="date-col">
            <div class="filter-title">
               <h4>
                  My Location 
                  <ion-icon name="create-outline"></ion-icon>
               </h4>
            </div>
            <div class="filter-content">
               <h5 *ngFor="let location of myArea">{{location.user_location}}</h5>
               <ion-input type="text" placeholder="Add a location" name="location" [(ngModel)]="newArea"></ion-input>
               <button class="add-more-btn" type="submit" (click)="addArea()">Add Location</button>
            </div>
         </div>
      </div>
      <div class="job-content-col">
         <div *ngFor="let job of jobs">
            <ion-card>
               <ion-item>
                  {{ job.job_title }}
               </ion-item>
               <ion-item>
                  {{ job.job_type }}
               </ion-item>
               <ion-item>
                  {{ job.status}}
               </ion-item>
               <ion-item>
                  <button (click)="openJob(job.job_id)">See Details</button>
               </ion-item>
            </ion-card>
         </div>
      </div>
   </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <app-tabs-menu></app-tabs-menu>
  </ion-toolbar>
</ion-footer>
