<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section>
      <div class="title-box" *ngFor="let user of userName"> 
        <h3>Welcome back, {{user.user_name}}</h3> <img src="../../assets/beach.jpeg" alt="user image" class="account-picture">
      </div>
  </section>
  <section id="main-dash-section">
    <div class="dash-row">
      <div class="dash-col">
        <div class="title">
          <h3>My Job Categories <a (click)="btnClicked('/account')">Edit<ion-icon name="create-outline"></ion-icon></a></h3>
        </div>
        <div class="job-category">
          <!-- <h4 *ngFor="let cat of categories" class="job-cat">{{cat.name}}</h4> -->
          <h4 class="job-cat">Painting</h4>
          <h4 class="job-cat">Carpentry</h4>
        </div>
      </div>
      <div class="dash-col-active">
        <div class="title">
          <h3>My Active Jobs</h3>
        </div>
        <div class="cat-box" *ngFor="let jobs of activeJobs">
          <h4>{{ jobs.job_type }}...<a class="status-btn">{{ jobs.status }}</a></h4>
        </div>

      </div>
      <div class="dash-col-closed">
        <div class="title">
          <h3>My Completed Jobs</h3>
        </div>
        <div class="cat-box" *ngFor="let jobs of closedJobs">
          <h4 class="active-title">{{ jobs.job_type }}...<a class="status-closed-btn">{{ jobs.status }}</a></h4>
        </div>
      </div>
    </div>
    <div class="post-job-fab">
      <div class="fab-col">
      <ion-fab-button (click)="btnClicked('/messenger')"><ion-icon name="chatbubble-outline"></ion-icon></ion-fab-button>        
      <ion-fab-button (click)="btnClicked('/job-post')"><ion-icon name="add-circle"></ion-icon></ion-fab-button>
    </div>
    </div>
  </section>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs-menu></app-tabs-menu>
  </ion-toolbar>
</ion-footer>
