.schedule-job-card {
  display: flex;
  justify-content: center;
}

// .schedule-content {
//   margin-top: 10%;
//   width: 50%;
//   background-color: #FF7F50;
//   padding: 10px;
//   display: flex;
//   border-radius: 4px;
//   box-shadow: 0px 4px 5px 1px #8c848c;
//   align-items: center;
// }

.schedule-title-box {
  padding: 5px;
  background-color: #FF7F50;
  color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.schedule-title-box h3 {
  font-weight: bold;
}

.add-date-section {
  padding: 5px;

}

.add-date-section p {
  font-size: 12px;
  font-style: italic;
  color: #FF7F50;
}

.add-date-section select {
  border-radius: 4px;
  background-color: #ffffff;
  color: #9E9E9E;
  outline: none;
}

.job-title-section {
  padding: 5px;
}

.job-title-section p {
  font-size: 12px;
  font-style: italic;
  color: #FF7F50;
}

.job-title-section select {
  border-radius: 4px;
  background-color: #ffffff;
  color: #9E9E9E;
  outline: none;
}

.schedule-job-btn {
  padding: 5px;
}

.schedule-job-btn p {
  font-size: 12px;
  font-style: italic;
  color: #FF7F50;
}

.schedule-job-btn button {
  display: flex;
  align-content: center;
  padding: 5px;
  background-color: #FF7F50;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

ion-content {
  border-radius: 4px;
}