<ion-content>
  <div class="schedule-title-box">
     <h3>Schedule Job</h3>
  </div>

  <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
    <div class="job-title-section">
      <p>Select Job Type:</p>
        <select name="" id="" formControlName="jobTitle">
          <option *ngFor="let job of jobs">{{ job.job_title }}</option>
        </select>
    </div>
    <div class="add-date-section">
      <p>Select Date:</p>
      <select name="date" id="date" formControlName="jobDate">
        <option *ngFor="let day of days"> {{ day }}</option>
      </select>
    </div>
    <div class="schedule-job-btn">
      <p>Schedule Job:</p>
      <button type="submit">Add to Schedule</button>
    </div>
  </form>      
</ion-content>