<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="/assets/icon/mycontractorlogo.png" alt="mycontractorlogo">
  </div>
  <div class="login-feild-options">
    <ion-button class="login-btn" color="mainbtn" expand="block" (click)="this.router.navigate(['customer-reg'])">Hire a Pro</ion-button>
    <ion-button class="find-btn" color="mainbtn" expand="block" (click)="this.router.navigate(['contractor-reg'])">Find a Customer</ion-button>
  </div>
  <div class="already-have-account">
    <p>Already have an account?<span class="sign-in" (click)="this.router.navigate(['sign-in'])"> Sign In</span></p>
  </div>
</ion-content>

