<ion-header>
  <ion-toolbar>
    <ion-title>customer-job-post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
Customer Job Posting
Needs a form for the job posting information: there is already a data structure set up for it
</ion-content>
