<ion-header>  
  <ion-toolbar>  
    <ion-buttons slot="start">  
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>  
    <ion-title>  
    </ion-title>  
  </ion-toolbar>   
</ion-header> 


<ion-content>
  <div class="main-container">
    <div class="registration-container">
      <div class="second-container">
        <div class="reg-logo-container">
          <h1>MyContractor</h1>
        </div>
        <div class="signin-form-container">
          <h2>Customer Register</h2>
          <div *ngIf="registrationError">
            There was something wrong with your registration, please try again.
          </div>
          <form>
            <ion-input class="login-input" type="text" placeholder="First Name" name="name" [(ngModel)]="user.first_name"></ion-input>
            <ion-input class="login-input" type="text" placeholder="Last Name" name="name" [(ngModel)]="user.last_name"></ion-input>
            <ion-input class="login-input" type="email" placeholder="Email Address" name="email_address" [(ngModel)]="user.email_address"></ion-input>
            <ion-input class="login-input" type="tel" placeholder="Phone Number" name="phone_number" [(ngModel)]="user.phone_number"></ion-input>
            <ion-input class="login-input" type="password" placeholder="Password" name="password" [(ngModel)]="passwords.password1"></ion-input>
            <ion-input class="login-input" type="password" placeholder="Confirm Password" name="password" [(ngModel)]="passwords.password2"></ion-input>
            <ion-button class="login-button" type="submit" [ngStyle]="user.email && user.phone_number && passwords.password1 == passwords.password2 ? {'opacity':'1'} : {'opacity': '0.6'}" (click)="register()">Submit</ion-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>
