
    <h5>Enter Name of your Gig</h5>
    <form action="">
    <input type="text" placeholder="Name of gig"><br><br>
    <select name="" id="" placeholder="Select a Category">
      <option value="">HVAC</option>
      <option value="">House Maintenance</option>
    </select><br><br>
    <select name="" id="" placeholder="Select a Cubcategory">
      <option value="">HVAC</option>
      <option value="">House Maintenance</option>
    </select><br><br>
    <button>Submit</button>
  </form>

