.my-jobs-section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 5%;
}

.jobs-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  text-align: center;
  height: auto;
  border-radius: 4px;
  margin-right: 25px;
  box-shadow: 0px 0px 14px -5px rgba(26,24,26,1);
}

.jobs-col a {
  text-decoration: none;
  font-weight: bold;
  pointer-events: none;
  color: #FF7F50;
}

.title-box {
  text-align: left;
  padding: 12px;
  background-color: #FF7F50;
  color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.title-box h3 {
  font-weight: bold;
}

.profile-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  text-align: center;
  height: auto;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 5px 1px rgba(140, 132, 140, 50%);
}

.profile-text {
  background-color: #FF7F50;
  padding: 12px;
  color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.profile-text h3 {
  font-weight: bold;
}

.job-content {
  display: flex;
  height: 150px;
  width: 100%;
  align-items: center;
  padding: 12px;
  border-bottom: grey solid 2px;
}

.job-content:last-child {
  border-bottom: none;
}


.job-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

.job-text h3 {
  font-weight: bold;
}

.profile-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title-row {
  display: flex;
  height: 70px;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-weight: bold;
  color: grey;
}

.sub-title {
  font-style: italic;
  color: grey;
}

.reviews-box {
  display: flex;
  align-items: center;
  padding: 12px;
}

.reviews-box p {
  margin-right: 5px;
}

.click-box {
  padding: 12px;
}


@media only screen and (max-width: 1045px)  {
    
 .my-jobs-section {
   flex-direction: column;
 }

 .profile-col {
   width: 100%;
   margin-bottom: 20px;
 }

 .jobs-col {
   width: 100%;
   order: 2;
   margin-right: 0px;
 }

}

@media only screen and (max-width: 398px)  {
  


}