<ion-header>  
  <ion-toolbar>  
    <ion-buttons slot="start">  
      <ion-menu-button></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
    </ion-title>  
  </ion-toolbar>   
</ion-header>

<ion-content>
<section>
  <div class="my-jobs-section">
  <div class="jobs-col">
    <div class="job-content" *ngFor="let jobs of myJobs">
      <div class="job-text">
        <h3>{{ jobs.job_type }}</h3>
        <p><span>Amount:</span> {{jobs.amount}}</p>
        <p>Date: {{jobs.date}}</p>
      </div>
      <div class="box">
        <a href="">3</a>
        Proposals
      </div>
      <div class="box">
        <a href="">1</a>
        Hired
      </div>
      <div class="box">
        <a href="">1</a>
        Status
      </div>
    </div>
  </div>
  <div class="profile-col">
      <div class="profile-text">
        <h3>Your Profile</h3>
      </div>
        <div class="reviews-box">
          <p>Profile Rating:</p>
          <ion-icon name="star"></ion-icon>
        </div>
        <div class="click-box">
          <p>View All Completed Jobs</p>
        </div>
  </div>
</div>
</section>

</ion-content> 
