.modal_wrapper {
    @media (max-width: 800px) {
        width: 80%;
        height: 80%;
    }
}

.survey_section {
    display: flex;
    flex-direction: column;

    .survey_info {
        background: #FF7F50;
        color: #fff;
        padding-left: 10px;
    }

    form {
        padding: 10px;

        .sections {

            .header {
                color: #FF7F50;
                padding-bottom: 10px;
                padding-top: 10px;
            }

            label {
                padding: 10px;
                font-size: 16px;
            }
        }

        .sub_btn {
            --background: #FF7F50;
            color: #fff;
            padding-left: 20px;
            width: 95%;
            font-weight: bold;
            font-size: 16px;
        }
    }
}