<ion-content>
  <section class="survey_section" *ngIf="survey">
    <div class="survey_info" *ngIf="survey">
      <h3>{{ survey.title }}</h3>
    </div>

    <form id="surveyForm" #surveyForm="ngForm" *ngIf="survey" (submit)="submitSurvey(surveyForm)">
      <ion-card class="sections" *ngFor="let section of survey.sections">
        <div *ngIf="checkDependencies(section)">
          <div class="header form_option">
            <label>{{section.section_name}}</label>
          </div>
          <div *ngFor="let q of section.questions">
            <div *ngIf="checkDependencies(q)" [ngClass]="{'form_option': q.question_type != 'Hidden'}">
              <label *ngIf="q.question_type != 'Hidden' && q.question_type != 'Timestamp'">{{ q.question }} <span
                  class="req">{{ (q.required=='1' ? '*' : '') }}</span></label>

              <div *ngIf="!q.answers">
                <!-- Images -->
                <img *ngIf="cordova && q.question_type == 'File' && formData[q.id]" [src]="formData[q.id]"
                  class="survey_image">
                <button *ngIf="cordova && q.question_type == 'File'" type="button" ion-button id="form_{{q.id}}"
                  [name]="q.id" (click)="uploadImage(q.id)">{{ (formData[q.id] ? 'Selected Image':
                  'Upload Image') }}</button>

                <!-- General Inputs -->
                <ion-input (ionChange)="saveForm()"
                  *ngIf="q.question_type == 'Text' || q.question_type == 'Number' || q.question_type == 'Email'"
                  [(ngModel)]="formData[q.id]" id="form_{{q.id}}" [type]="q.question_type" [name]="q.id"
                  [value]="q.value" [required]="(q.required=='1' ? 'required' : '')" ngDefaultControl></ion-input>

                <!-- datetime -->
                <ion-datetime (ionChange)="saveForm()" text-wrap *ngIf="q.question_type == 'Date'"
                  [(ngModel)]="formData[q.id]" id="form_{{q.id}}" [name]="q.id"
                  [required]="(q.required=='1' ? 'required' : '')" ngDefaultControl></ion-datetime>

                <!-- Checkin/Checkout -->
                <div *ngIf="q.question_type == 'Timestamp'">
                  <button [color]="(formData[q?.id] ? 'success' : 'primary')" type="button" ion-button
                    id="form_{{q.id}}" [name]="q.id" (click)="getTimeLocation(q)">{{ q.question }}</button>
                  <p>{{ formData[q.id] | date:'medium' }}</p>
                </div>

                <!-- Explanations/textarea -->
                <textarea (ionChange)="saveForm()" [(ngModel)]="formData[q.id]" *ngIf="q.question_type == 'Textarea'"
                  id="form_{{q.id}}" [name]="q.id"
                  [required]="(q.required=='1' ? 'required' : '')" ngDefaultControl>{{ q.question }}</textarea>
              </div>

              <!-- Radio -->
              <ion-list (ionChange)="saveForm()" *ngIf="q.answers && q.question_type=='Radio'" radio-group [name]="q.id"
                [(ngModel)]="formData[q.id]" [required]="(q.required=='1' ? 'required' : '')" ngDefaultControl>
                <ion-item lines="none" text-wrap *ngFor="let o of q.answers">
                  <ion-label>{{ o.answer }}</ion-label>
                  <ion-radio [value]="o.id"></ion-radio>
                </ion-item>
              </ion-list>

              <!-- Checkbox -->
              <ion-list (ionChange)="saveForm()" *ngIf="q.answers && q.question_type=='Checkbox'">
                <ion-item lines="none" text-wrap *ngFor="let o of q.answers">
                  <ion-label>{{ o.answer }}</ion-label>
                  <ion-checkbox [checked]="checkCheckbox(q,o)" (ionChange)="selectCheckbox(q,o)"></ion-checkbox>
                </ion-item>
              </ion-list>

              <!-- Select list -->
              <div *ngIf="q.answers && q.question_type=='Select'">
                <ion-select (ionChange)="saveForm()" [(ngModel)]="formData[q.id]" id="form_{{q.id}}" [name]="q.id"
                  [required]="(q.required=='1' ? 'required' : '')" placeholder="Please select an option" ngDefaultControl>
                  <ion-select-option *ngFor="let o of q.answers" [value]="o.id">{{ o.answer }}</ion-select-option>
                </ion-select>
              </div>

              <!-- HTML data -->
              <div *ngIf="q.question_type=='HTML'" ngDefaultControl>
                {{ q.question | safeHtml }}
              </div>

            </div>
          </div>
        </div>
      </ion-card>
      <ion-button id="submit_button" class="sub_btn" type="submit">Submit Form</ion-button>
    </form>
  </section>
</ion-content>