
<div class="footer-menu">
  
  <div class="menu-item" (click)="btnClicked('/my-jobs')">
    <button class="menu-link">
    <ion-icon name="construct"></ion-icon>
    My Jobs</button>
  </div>
  
  <div class="menu-item" (click)="btnClicked('/job-list')">
    <button class="menu-link">
    <ion-icon name="compass-outline"></ion-icon>
    Find Jobs</button>
  </div>
  
  <div class="menu-item" (click)="btnClicked('/messenger')">
    <button class="menu-link">
    <ion-icon name="chatbubbles-outline"></ion-icon>
    Messages</button>
  </div>

  <div class="menu-item" (click)="btnClicked('/dashboard')">
    <button class="menu-link">
    <ion-icon name="speedometer-outline"></ion-icon>
    Dashboard</button>
  </div>
</div>
