.footer-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FF7F50!important;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  border-left: 1px solid #ffffff;
  margin: auto;
  width: 50%;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #faa687;
}

.menu-item:focus {
  background-color: #faa687;
}

.menu-item:first-child {
  border: none;
}

.menu-link {
background: none;
}

ion-icon {
  font-size: 30px;
  color: #ffffff!important;
}


button {
 display: flex;
 flex-direction: column; 
 align-items: center;
 outline: none;
 color: #ffffff!important;}

// Mobile styling
@media only screen and (max-width: 374px) {
  ion-icon {
    font-size: 20px;
  }

  .menu-item {
    border: none;
  }
}