<ion-app>
	<ion-menu side="start" menuId="first" contentId="content"> 
		<ion-item>
			<ion-icon (click)="openEnd()" name="close-outline"></ion-icon>
		</ion-item>
		<ion-content> 
			<ion-list *ngFor="let pages of navigate" class="list-item"> 
				<ion-menu-toggle auto-hide="true"> 
					<div [routerLink]="pages.url" routerDirection="forward" class="menu-item">            
						<p class="menu-item-text">
							<ion-icon [name]="pages.icon"></ion-icon> {{pages.title}}
						</p>
					</div>
				    
				</ion-menu-toggle> 
			</ion-list>
			<ion-button (click)="logOut()">Sign Out</ion-button> 
		</ion-content> 
	   
	</ion-menu> 
	<ion-router-outlet Id="content"></ion-router-outlet>
</ion-app>
