.menu-item {
  // background-color: hotpink;
  text-align: left;
  padding: 15px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 83px;
}

.menu-item-text {
  font-size: 22px;
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px
}

.menu-item-text:hover{
  color: #FF7F50;
  
}

.menu-item:hover ion-icon{
  color: #FF7F50;
}

ion-icon {
  margin-right: 14px;
  color: #858b97;
  cursor: pointer;
}

p{
  cursor: pointer;
}

.list-item {
  // height: 80px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

// End of menu styles