.post-job-section {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;

}

.post-job-content{
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10px;
  margin: 30px;
  height: 450px;

}

.job-option {
  padding: 60px;
  border: 1px solid black;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 15px black;
  background-color: #fff;
  height: auto;
}

ion-icon {
  font-size: 30px;
}

button {
  background-color: coral;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 2px;
  font-weight: bolder;
  outline: none;
}

// popup modal styles

.popup-modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-content {
  text-align: center;
  text-align: center;
  width: 50%;
  height: auto;
  background-color: aliceblue;
  box-shadow: 0 10px 15px black;
  border-radius: 5px;
  padding: 10px;
}