<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="post-job-section">
    <div class="post-job-box-title">
      <h4>Post your next job</h4>
      <p>What would you like to do?</p>
      </div>
      <div class="post-job-content">
        <div class="job-option">
          <ion-icon name="card-outline"></ion-icon>
          <h5>Fixed Price Based Project</h5>
          <div>
            <button (click)="toggle()">Continue</button>
          </div>
        </div>
        <div class="job-option">
          <ion-icon name="time-outline"></ion-icon>
          <h5>Hourly Based Project</h5>
          <div>
            <button (click)="toggle()">Continue</button>
          </div>
        </div>
      </div>
      </div>

      <!-- Popup modal-->
      <div *ngIf="show" class="popup-modal">
        <div class="form-content">
          <app-post-job-feilds></app-post-job-feilds>
        </div>
      </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs-menu></app-tabs-menu>
  </ion-toolbar>
</ion-footer>
