.progression-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.progress-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.appointment-tool-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  align-items: center;
}

.tool-bar {
    padding: 10px;
    background-color: #9E9E9E;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0px 4px 5px 1px #8c848c;
}

.date-box {
color: #ffffff;
padding: 5px;
font-weight: bold;
}

.show-jobs-box {
  padding: 5px;
}

.show-jobs-box select {
  background-color: #ffffff;
  color: #9E9E9E;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
}

.add-make-appointment-box {
  padding: 5px;
}

.add-make-appointment-box button {
  display: flex;
  align-content: center;
  padding: 5px;
  background-color: #FF7F50;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.schedule-box-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.schedule-block {
  margin-top: 5%;
  padding: 10px;
  width: 75%;
  border: 1px solid #9E9E9E;
  border-radius: 4px;
  box-shadow: 0px 4px 5px 1px #8c848c;
  display: flex;
}

.schedule-block .job-title {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 60%;
}

.job-description-box {
padding: 5px;
}

.job-description-box .sub-text-box a {
  margin: 0px;
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
  padding: 5px;
  color: #FF7F50;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-text-box {
  display: flex;
}