<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="progression-section">
      <div class="progress-content">
        <p>1</p>
        <p>Not Started</p>
      </div>
      <div class="progress-content">
        <p>1</p>
        <p>Pending</p>
      </div>
      <div class="progress-content">
        <p>1</p>
        <p>In Review</p>
      </div>
      <div class="progress-content">
        <p>1</p>
        <p>Completed</p>
      </div>
    </div>

    <div class="appointment-tool-bar">
      <div class="tool-bar">
        <div class="date-box">
          <p>Today's date: {{ date }}</p>
        </div>
        <div class="show-jobs-box">
          <select name="jobs" id="jobs">
            <option value="">Scheduled</option>
            <option value="">Not Scheduled</option>
          </select>
        </div>
        <div class="add-make-appointment-box">
          <button (click)="openScheduler(job_id)">Schedule Job <ion-icon name="add-circle-outline"></ion-icon> </button>
        </div>
      </div>
    </div>

    <div class="schedule-box-content">
      <div class="schedule-block" *ngFor="let job of jobs">
        <div class="job-title">
          <h4>{{ job.job_title }}</h4>
          <div>
            <p>{{job.date}}</p>
          </div> 
        </div>
        <div class="job-description-box">
          <p>{{job.description}}</p>
          <div class="sub-text-box">
            <a href=""> <ion-icon name="create-outline"></ion-icon> Edit Time</a>
            <a href=""> <ion-icon name="chatbubbles-outline"></ion-icon> Message Customer</a>
            <a href=""> <ion-icon name="megaphone-outline"></ion-icon> Report a problem</a>
          </div> 
        </div>
      </div>
    </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs-menu></app-tabs-menu>
  </ion-toolbar>
</ion-footer>
