<ion-content>
<div class="job-details-card">
  <div class="job-title-box">
    <p>Job Title:</p>
    <h4>{{ job.job_title }}</h4>
    <p>Posted on: {{job.posted}}</p>
  </div>
  <div class="job-details-description">
    <div class="job-description-content">
      <p>Job Type:</p>
      <h5>{{ job.job_type }}</h5>
    </div>
    <div class="job-description-content">
      <p>Job Description:</p>
      <h5>{{ job.description }}</h5>
    </div>
    <div class="job-description-content">
      <p>Job Address:</p>
      <h5>{{ job.job_address }} {{ job.job_address_2 }}</h5>
      <h5>{{ job.job_city}} {{job.job_state }} {{ job.job_zip }}</h5>
    </div>

    <div class="job-description-content">
      <p>Job Location Type:</p>
      <h5>{{ job.job_location_type }}</h5>
    </div>
    <div class="job-description-content">
      <p>Job Status:</p>
      <h5>{{ job.status}}</h5>
    </div>
  </div>
    <div class="btn-box">
      <button (click)=openBid()>Place a Bid <ion-icon name="pricetags-outline"></ion-icon></button>
    </div>
    <div *ngIf="viewBid" id="bid__section" class="job-details-description">
        <div class="job-description-content">
        <p>Bid Price:</p>
        <ion-input name="bid_price" type="number" [(ngModel)]="bidItem.bid_price"></ion-input>
      </div>
      <div class="job-description-content">
        <p>Job Description:</p>
        <ion-textarea name="bid_description" [(ngModel)]="bidItem.bid_description" type="textarea"></ion-textarea>
      </div>
      <div class="btn-box">
        <button (click)="bid()">Place Your Bid</button>
      </div>
    </div>
  </div>
</ion-content>