
.job-details-card {
  border-radius: 4px;
}

 .job-title-box {
  background-color: #FF7F50;
  color: #ffffff;
  padding: 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-bottom: 10px;
}

.job-title-box h4 {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.job-title-box p {
  margin: 0px;
  font-size: 12px;
  font-style: italic;

}

.job-details-description {
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.job-details-description h5 {
  color: grey;
  font-weight: bold;
  border-bottom: #80808082 1px solid;
  margin-top: 5px;
}

.job-description-content p {
  color: #80808082;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.btn-box {
  padding: 15px;
  padding-top: 0px;
}

ion-content {
  border-radius: 4px;
}

button {
  background-color: #FF7F50;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
  font-weight: bold;
  font-size: 16px;
}

button ion-icon {
  font-size: 16px;
}

.job-description-content ion-textarea, ion-input {
  border:  #80808082 1px solid;
}