
.title-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 20px;
    padding-left: 56px;
    align-items: center;
}



.title-box h3 {
font-size: 30px;
}

.account-picture {
    border: 4px solid #d3d3d3;
    border-radius: 50%;
    height: 60px;
    width: 65px;
    object-fit: cover;
    object-position: center;
    margin-left: 10px;
}

.dash-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: auto;

}

.dash-col {
    height: 20%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    box-shadow: 0 10px 15px #757575;
}

.dash-col-active {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    height: 20%;
    box-shadow: 0 10px 15px #757575;
}

.dash-col-closed {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    height: 20%;
    box-shadow: 0 10px 15px #757575;
}

.job-category {
    color: grey;
    padding: 12px;
}

.job-cat {
    margin: 0!important;
    padding: 1rem .2rem;
    border-bottom: 2.5px dotted rgba(0,0,0,.1);
    font-weight: bolder;
    font-size: 15px;
}


.job-category .job-cat:last-child {
    border-bottom: 0!important;
}

h3 {
    font-weight: bold;
    color: grey;
}

.cat-box {
    padding: 12px;
    padding-bottom: 0px;
}

.cat-box:hover{
    background-color: #ececec;
}

h4 {
    margin: 0!important;
    padding: 1rem .2rem;
    border-bottom: 2.5px dotted rgba(0,0,0,.1);
    font-weight: bolder;
    font-size: 15px;
    color: grey;
}

    .title {
    background-color: #FF7F50;
    padding: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    }

.title h3 {
    color: #ffffff;
}

.title ion-icon, a {
    font-size: 15px;
    color: #ffffff;
}

.dash-col-active .cat-box:last-child h4 {
    border-bottom: 0px;
}

.status-btn {
    border-color: #000;
    border-width: 2px;
    background-color: #FF7F50;
    border-radius: 5px;
    height: auto;
    padding: 3px;
    color: #ffff;
}

.status-closed-btn {
    border-color: #000;
    border-width: 2px;
    background-color: #FF0000;
    border-radius: 5px;
    height: auto;
    padding: 3px;
    color: #ffff;
}

.dash-col-closed .cat-box:last-child h4 {
    border-bottom: 0px;
}

.post-job-fab {
display: flex;
flex-direction: row;
justify-content: flex-end;
padding: 20px;
margin-top: 15%;
}

.post-job-fab .fab-col ion-fab-button ion-icon {
    color: #ffffff;
}



ion-fab-button {
 --background: #FF7F50!important;
 margin-bottom: 20px;
}

@media only screen and (max-width: 1045px)  {
    
    .dash-row {
        flex-direction: column;
        align-items: center;
    }

    .dash-col, .dash-col-active, .dash-col-closed {
        width: 80%;
        margin-bottom: 25px;
    }

}

@media only screen and (max-width: 398px)  {
    
    .dash-row {
        flex-direction: column;
        align-items: center;
    }

    .dash-col, .dash-col-active, .dash-col-closed {
        width: 100%;
        margin-bottom: 25px;
    }

}

