/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.main-container {
  background: #F6F8FB !important;
}

.login-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.login-feild-options {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3%;

  .login-btn {
    margin-bottom: 3%;
  }

  .login-btn, .find-btn {
    width: 65vw;
    align-self: center;
  }
}

.sign-in-feild-options {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}

.already-have-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #A9A9A9;
  margin-top: 10%;

  .sign-in {
    color: #FF7F50;

    &:hover {
      cursor: pointer;
    }
  }
}

.dont-have-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #A9A9A9;

  .sign-in {
    color: #FF7F50;

    &:hover {
      cursor: pointer;
    }
  }

  .footer_links {
    margin: 5px !important;
  }
}

// Removes the shadowing in the header.
ion-header {
  &.header-md:after {
    background: none;
  }
}


ion-menu-button  {
  color: white;
}

ion-header{
 
  --ion-background-color: #FF7F50!important;
  
  .toolbar-container {
    background-color: #FF7F50!important;
  }
}

.ion-color-primary {
  background-color: #FF7F50!important;
  --ion-color-base: #FF7F50!important;

}

ion-footer ion-toolbar:last-of-type {
  --ion-background-color: #FF7F50!important;
}

ion-back-button {
  color: #ffff;
}