<ion-header>  
  <ion-toolbar>  
    <ion-buttons slot="start">  
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>  
    <ion-title>  
    </ion-title>  
  </ion-toolbar>   
</ion-header> 

<ion-content>
	<div class="main-container">
		<ion-slides pager="true" [options]="slideOpts" #regSlider class="swiper-no-swiping">
			<!-- basic info -->
			<ion-slide>
				<div class="registration-container">
					<div class="second-container">
						<div class="reg-logo-container">
							<h1>MyContractor</h1>
						</div>
						<div class="reg-logo-container">
							<h2>Contractor Register</h2>
						</div>
						<div class="signin-form-container">
							<ion-spinner name="dots" *ngIf="loading"></ion-spinner>
							<div class="form-errors">
								<ion-item *ngFor="let error of errors" class="error-container"><h2>{{error}}</h2></ion-item>
							</div>
							<form>
								<div class="two_inputs">
									<ion-input class="login-input two-input" type="text" placeholder="Company Name" name="comp_name" [(ngModel)]="user.company_name"></ion-input>
								</div>
								<div class="two_inputs">
									<ion-input class="login-input two-input" type="text" placeholder="Company Address" name="company_address" [(ngModel)]="user.address1"></ion-input>
									<ion-input class="login-input two-input" type="text" placeholder="Address 2" name="company_address_2" [(ngModel)]="user.addres2"></ion-input>
								</div>
								<div class="three_inputs">
									<ion-input class="login-input three-input" type="text" placeholder="Company City" name="company_city" [(ngModel)]="user.city"></ion-input>
									<ion-select class="login-input three-input three-input-select" interface="action-sheet" [interfaceOptions]="stateOptions" [(ngModel)]="user.state" name="company_state" placeholder="Select State">
										<ion-select-option *ngFor="let s of states" [value]="s.name">{{s.name}}</ion-select-option>
									</ion-select>
									<ion-input class="login-input three-input" type="text" placeholder="Company Zip" name="company_zip" [(ngModel)]="user.zip"></ion-input>
								</div>
								<div class="two_inputs">
									<ion-input class="login-input two-input" type="text" placeholder="First Name" name="first_name" [(ngModel)]="user.first_name"></ion-input>
									<ion-input class="login-input two-input" type="text" placeholder="Last Name" name="last_name" [(ngModel)]="user.last_name"></ion-input>
								</div>
								<div class="two_inputs">
									<ion-input class="login-input two-input" type="tel" placeholder="Phone Number" name="phone_number" [(ngModel)]="user.phone_number"></ion-input>
									<ion-input class="login-input two-input" type="email" placeholder="Email Address" name="email" [(ngModel)]="user.email_address"></ion-input>
								</div>
								<ion-button class="login-button" type="submit" [ngStyle]="user.email_address && user.phone_number && user.company_name && user.address1 && user.city && user.state  && user.zip && user.first_name && user.last_name ? {'opacity':'1'} : {'opacity': '0.6'}" (click)="register(1)">Submit</ion-button>
							</form>
						</div>
					</div>
				</div>
			</ion-slide>
			<!-- verification -->
			<ion-slide>
				<div class="registration-container">
					<div class="second-container">
						<div class="reg-logo-container">
							<h1>MyContractor</h1>
						</div>
						<div class="reg-logo-container">
							<h2>Verification</h2>
						</div>
						<div class="signin-form-container">
							<form>
								<ion-input class="login-input single-input" type="Number" placeholder="Verification Number" name="verify" [(ngModel)]="verification.number"></ion-input>
								<div class="two_inputs">
									<ion-input class="login-input two-input" type="password" placeholder="Password" name="password" [(ngModel)]="verification.password1"></ion-input>
									<ion-input class="login-input two-input" type="password" placeholder="Confirm Password" name="password" [(ngModel)]="verification.password2"></ion-input>
								</div>
								<ion-button class="login-button" type="submit" [disabled]="verification.number && verification.password1 && verification.password2 ? false : true" [ngStyle]="verification.number && verification.password1 && verification.password2 ? {'opacity':'1'} : {'opacity': '0.6'}" (click)="register(2)">Submit</ion-button>
							</form>
						</div>
					</div>
				</div>
			</ion-slide>
			<!-- type and radius of work, website and phone number -->
			<ion-slide>
				<div class="registration-container">
					<div class="second-container">
						<div class="reg-logo-container">
							<h1>MyContractor</h1>
						</div>
						<div class="reg-logo-container">
							<h2>Contractor Registration 3</h2>
						</div>
						<div class="signin-form-container">
							<form>
								<div class="two_inputs">
									<ion-input class="login-input two-input" type="number" placeholder="Work Radius" name="work_radius" [(ngModel)]="company.work_radius"></ion-input>
									<ion-select class="login-input two-input two-input-select" interface="action-sheet" [interfaceOptions]="businessTypeOptions" [(ngModel)]="company.business_type" (ionChange)="openAssessment()" name="business_type" placeholder="Business Type">
										<ion-select-option *ngFor="let j of jobs" [value]="j.id">{{j.title}}</ion-select-option>
									</ion-select>
								</div>
								<div class="two_inputs">
									<ion-input class="login-input two-input" type="tel" placeholder="Company Phone Number" name="company_phone_number" [(ngModel)]="company.phone_number"></ion-input>
									<ion-input class="login-input two-input" type="text" placeholder="Company Website" name="website" [(ngModel)]="company.website"></ion-input>
								</div>
								<ion-button class="login-button" type="submit" [disabled]="company.work_radius && company.business_type && company.phone_number && company.website ? false : true" [ngStyle]="company.work_radius && company.business_type && company.phone_number && company.website ? {'opacity' : '1'} : {'opacity' : '0.6'}" (click)="register(3)">Submit</ion-button>
							</form>
						</div>
					</div>
				</div>
			</ion-slide>
			<!-- License Info -->
			<ion-slide>
				<div class="registration-container">
					<div class="second-container">
						<div class="reg-logo-container">
							<h1>MyContractor</h1>
						</div>
						<div class="reg-logo-container">
							<h2>License and Insurance</h2>
						</div>
						<div class="signin-form-container">
							<form>
								<div class="two_inputs">
									<ion-input class="login-input two-input" type="text" placeholder="License Number" name="license_num" [(ngModel)]="license_insurance.license_num"></ion-input>
									<ion-input class="login-input two-input" type="file" accept="image/*" placeholder="License Image" name="license_img" [(ngModel)]="license_insurance.license_file"></ion-input>
								</div>
								<div class="three_inputs">
									<ion-input class="login-input three-input" type="text" placeholder="Agency Name" name="agency_name" [(ngModel)]="license_insurance.insurance_agency_name"></ion-input>
									<ion-input class="login-input three-input" type="text" placeholder="Agent Name" name="agent_name" [(ngModel)]="license_insurance.insurance_agent_name"></ion-input>
									<ion-input class="login-input three-input" type="tel" placeholder="Agent Phone Number" name="agent_phone" [(ngModel)]="license_insurance.insurance_agent_phone"></ion-input>
								</div>
								<div class="two_inputs">
									<ion-input class="login-input two-input" type="text" placeholder="Policy Number" name="policy_num" [(ngModel)]="license_insurance.insurance_policy_num"></ion-input>
									<ion-input class="login-input two-input" type="file" accept="image/*" placeholder="Insurance Card Image" name="insurance_img" [(ngModel)]="license_insurance.insurance_file"></ion-input>
								</div>
								<ion-button class="login-button" type="submit" [disabled]="license_insurance.license_num && license_insurance.license_file && license_insurance.insurance_agency_name && license_insurance.insurance_agent_name && license_insurance.insurance_file && license_insurance.insurance_agent_phone && license_insurance.insurance_policy_num ? false : true" [ngStyle]="license_insurance.license_num && license_insurance.insurance_agency_name && license_insurance.insurance_agent_name && license_insurance.insurance_agent_phone && license_insurance.insurance_policy_num ? {'opacity' : '1'} : {'opacity' : '0.6'}" (click)="register(4)">Submit</ion-button>
							</form>
						</div>
					</div>
				</div>
			</ion-slide>
		</ion-slides>
	</div>
</ion-content>