.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  ion-slides {
    height: 100%;
    width: 100%;

    overflow-y: scroll;
  }

  .registration-container {
    display: flex;
    width: 65%;
    background-color: #FCFCFC;
    justify-content: center;
    align-self: center;
    --box-shadow: 0px 0px 24px -13px rgb(0 0 0 / 75%);

    @media (max-width: 800px) {
      width: 95%;
    }

    .second-container {
      width: 90%;

      .reg-logo-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 10px !important;

        h1 {
          font-weight: 600;
        }

        .no-account {
          color: darkgray;
          padding-top: 15px;
        }

        .sign-up-link {
          text-align: center;
          color: #F0512F;
          cursor: pointer;
        }
      }

      .signin-form-container {

        ion-input {
          margin-top: 15px !important;
          height: 100%;
          background: #e8e2e1;

          &:focus {
            --background-color: #fff;
            --webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.10);
            --moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.10);
            --box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.10);
          }

          @media (max-width: 800px) {
            margin-top: 5px !important;
          } 
        }

        h2 {
          font-weight: 600;
        }

        .login-button {
          width: 99.5%;
          --background: #F0512F;
          margin-bottom: 20px;
          align-items: flex-start;
        }

        .single-input {
          margin-left: 10px;
          margin-right: 20px;
          width: 97.6%;

          @media (max-width: 800px) {
            margin-left: 0 !important;
            margin-right: 0 !important;
            width: unset;
          }
        }

        .two_inputs, .three_inputs {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          @media (max-width: 800px) {
            flex-direction: column;
            justify-content: unset;
          }

          ion-input {
            margin-left: 10px;
            margin-right: 10px;

            @media (max-width: 800px) {
              margin-left: 0 !important;
            }
          }

          ion-select {
            margin-right: 12px;
            margin-left: 12px;
            margin-top: 15px !important;
            background:  #e8e2e1;
            --placeholder-color: #777473;
            --placeholder-opacity: 1.0;

            @media (max-width: 800px) {
              margin-left: 0 !important;
              margin-top: 5px !important;
            }
          }

          .two-input {
            width: 50%;

            @media (max-width: 800px) {
              width: 100%;
            }
          }

          .three-input {
            width: 33.333%;

            @media (max-width: 800px) {
              width: 100%;
            }
          }

          .two-input-select {
            width: 47.5%;

            @media (max-width: 800px) {
              width: 100%;
            }
          }

          .three-input-select {
            width: 31%;

            @media (max-width: 800px) {
              width: 100%;
            }
          }
        }

        .form-errors {
          display: flex;
          flex-wrap: wrap;

          .error-container {
            text-align: center;
            width: 50%;

            h2 {
              color: rgb(245, 177, 177);
              font-weight: 500;
              font-size: .75em;
            }
          }
        }
      }

      .dont-have-account {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;

        .footer_links {
          cursor: pointer;
        }
      }
    }
  }
}
