<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <div class="account-container">
      <div class="left-container">
        <div class="navbar">
          <div class="flex">
            <div class="account">
              <div>
                <div class="account-picture-container">
                  <img src="../../assets/beach.jpeg" alt="user image" class="account-picture">
                </div>
                <h2 class="welcome">Welcome User</h2>
              </div>
            </div>
            <div class="menu-items">
              <div class="menu-item" [ngClass]="{'menu-item-active' : navbar.info}" (click)="addActive('info')"><ion-icon class="menu-icon" name="person"></ion-icon>User Info</div>
              <div class="menu-item" [ngStyle]="user.user_type == 'Provider' ? {'display':'block'} : {'display': 'none'}" [ngClass]="{'menu-item-active' : navbar.company}" (click)="addActive('company')"><ion-icon class="menu-icon" name="hammer"></ion-icon>Company Info</div>
              <!-- <div class="menu-item" [ngClass]="{'menu-item-active' : navbar.company}" (click)="addActive('company')"><ion-icon class="menu-icon" name="hammer"></ion-icon>Company Info</div> -->
              <div class="menu-item" [ngClass]="{'menu-item-active' : navbar.payment}" (click)="addActive('payment')"><ion-icon class="menu-icon" name="list"></ion-icon>Payment History</div>
              <div class="menu-item" [ngClass]="{'menu-item-active' : navbar.reviews}" (click)="addActive('reviews')"><ion-icon class="menu-icon" name="thumbs-up"></ion-icon>Reviews</div>
              <div class="menu-item" [ngClass]="{'menu-item-active' : navbar.referrals}" (click)="addActive('referrals')"><ion-icon class="menu-icon" name="code-working"></ion-icon>Referrals</div>  
            </div>
          </div>
          <ion-button class="ui button log-out-btn">
            Log Out
          </ion-button>
        </div> 
      </div>
      <div class="right-container">
        <div class="account-info-container" [ngStyle]="navbar.info ? {'display':'block'} : {'display': 'none'}">
          <div class="user-info">
            <div class="info-header">
              <h2 class="section-title">My Account</h2>
            </div>
            <div class="user-info-content">
              <form>
                <div class="three_inputs">
                  <ion-input class="login-input three-input" type="text" placeholder="First Name" name="first_name" [(ngModel)]="user.first_name"></ion-input>
                  <ion-input class="login-input three-input" type="text" placeholder="Last Name" name="last_name" [(ngModel)]="user.last_name"></ion-input>
                  <ion-input class="login-input three-input" type="tel" placeholder="Phone Number" name="phone_number" [(ngModel)]="user.phone_number"></ion-input>
                  <ion-input class="login-input three-input" type="email" placeholder="Email Address" name="email" [(ngModel)]="user.email_address"></ion-input>
                </div>
                <div class="two_inputs">
                  <ion-input class="login-input two-input" type="password" placeholder="Password" name="password" [(ngModel)]="verification.password1"></ion-input>
                  <ion-input class="login-input two-input" type="password" placeholder="Confirm Password" name="password" [(ngModel)]="verification.password2"></ion-input>
                </div>
                <ion-button class="update-btn" (click)="updateAccount()">Update Account Info</ion-button>
              </form>
            </div>
          </div>
        </div>
        <div class="company-info-container" [ngStyle]="navbar.company ? {'display':'block'} : {'display': 'none'}">
          <div class="company-info">
            <div class="info-header company-info-header">
              <h2 class="section-title">Company Info</h2>
            </div>
            <div class="company-info-content">
              <div class="two_inputs">
                <ion-input class="login-input two-input" type="text" placeholder="Company Name" name="comp_name" [(ngModel)]="company.company_name"></ion-input>
              </div>
              <div class="two_inputs">
                <ion-input class="login-input two-input" type="text" placeholder="Company Address" name="company_address" [(ngModel)]="company.address1"></ion-input>
                <ion-input class="login-input two-input" type="text" placeholder="Address 2" name="company_address_2" [(ngModel)]="company.address2"></ion-input>
              </div>
              <div class="three_inputs">
                <ion-input class="login-input three-input" type="text" placeholder="Company City" name="company_city" [(ngModel)]="company.city"></ion-input>
                <ion-select class="login-input three-input three-input-select" interface="action-sheet" [interfaceOptions]="stateOptions" [(ngModel)]="company.state" name="company_state" placeholder="Select State">
                  <ion-select-option *ngFor="let s of states" [value]="s.name">{{s.name}}</ion-select-option>
                </ion-select>
                <ion-input class="login-input three-input" type="text" placeholder="Company Zip" name="company_zip" [(ngModel)]="company.zip"></ion-input>
              </div>
              <div class="two_inputs">
                <ion-input class="login-input two-input" type="number" placeholder="Work Radius" name="work_radius" [(ngModel)]="company.work_radius"></ion-input>
                <ion-select class="login-input two-input two-input-select" interface="action-sheet" [interfaceOptions]="businessTypeOptions" [(ngModel)]="company.business_type" (ionChange)="openAssessment()" name="business_type" placeholder="Business Type">
                  <ion-select-option *ngFor="let j of job" [value]="j">{{j.name}}</ion-select-option>
                </ion-select>
              </div>
              <div class="two_inputs">
                <ion-input class="login-input two-input" type="tel" placeholder="Company Phone Number" name="company_phone_number" [(ngModel)]="company.phone_number"></ion-input>
                <ion-input class="login-input two-input" type="text" placeholder="Company Website" name="website" [(ngModel)]="company.website"></ion-input>
              </div>
              <ion-button class="update-btn" (click)="updateCompany()">Update Company Info</ion-button>
            </div>
          </div>
          <div class="company-info">
            <div class="info-header company-info-header">
              <h2 class="section-title">License and Insurance Info</h2>
            </div>
            <div class="company-info-content">
              <div class="two_inputs">
                <ion-input class="login-input two-input" type="text" placeholder="License Number" name="license_num" [(ngModel)]="company.business_license"></ion-input>
                <ion-input class="login-input two-input" type="file" accept="image/*" placeholder="License Image" name="license_img" [(ngModel)]="company.license_file"></ion-input>
              </div>
              <div class="three_inputs">
                <ion-input class="login-input three-input" type="text" placeholder="Agency Name" name="agency_name" [(ngModel)]="company.insurance_agency_name"></ion-input>
                <ion-input class="login-input three-input" type="text" placeholder="Agent Name" name="agent_name" [(ngModel)]="company.insurance_agent_name"></ion-input>
                <ion-input class="login-input three-input" type="tel" placeholder="Agent Phone Number" name="agent_phone" [(ngModel)]="company.insurance_agent_phone"></ion-input>
              </div>
              <div class="two_inputs">
                <ion-input class="login-input two-input" type="text" placeholder="Policy Number" name="policy_num" [(ngModel)]="company.insurance_policy_num"></ion-input>
                <ion-input class="login-input two-input" type="file" accept="image/*" placeholder="Insurance Card Image" name="insurance_img" [(ngModel)]="company.insurance_file"></ion-input>
              </div>
              <ion-button class="update-btn" (click)="updateCompany()">Update License/Insurance Info</ion-button>
            </div>
          </div>
        </div>
        <div class="payment-history-container" [ngStyle]="navbar.payment ? {'display':'flex'} : {'display': 'none'}">
          <div class="inner-container">
            <h2 class="payment-history-title section-title">
              Payment History
            </h2>
            <div class="payment-cards" *ngFor="let payment of payments">
              <ion-card>
                <ion-item class="reviwer" lines="inset">
                  <div class="paymenter-info">
                    <h3 class="payment-name">{{payment.job_title}}</h3>
                  </div>
                </ion-item>
                <ion-item lines="inset">
                  ${{payment.amount}}
                </ion-item>
                <ion-item lines="none">
                  <ion-col><p class="payment-date">{{payment.date}}</p></ion-col>
                  <ion-col><p class="payment-status" [ngClass]="payment.status == 'paid' ? 'paid' : payment.status == 'pending' ? 'pending' : 'canceled'">{{payment.status}}</p></ion-col>
                </ion-item>
              </ion-card>
            </div>
          </div>
        </div>
        <div class="review-container" [ngStyle]="navbar.reviews ? {'display':'flex'} : {'display': 'none'}">
          <div class="inner-container">
            <h2 class="review-title section-title">
              Reviews
            </h2>
            <div class="review-cards" *ngFor="let review of reviews">
              <ion-card>
                <ion-item class="reviwer" lines="inset">
                  <div class="review-picture-container">
                    <img src="{{review.img}}" class="review-picture"/>
                  </div>
                  <div class="reviewer-info">
                    <h3 class="review-name">{{review.reviewed_by}}</h3>
                    <p class="review-date">{{review.date}}</p>
                  </div>
                </ion-item>
                <ion-item lines="none" class="review">
                  {{review.review}}
                </ion-item>
              </ion-card>
            </div>
          </div>
        </div>
        <div class="referral-container" [ngStyle]="navbar.referrals ? {'display':'flex'} : {'display': 'none'}">
          <div class="inner-container">
            <h2 class="referral-title section-title">
              Referrals
            </h2>
            <div class="review-cards" *ngFor="let referral of referrals">
              <ion-card>
                <ion-item class="reviwer" lines="inset">
                  <div class="review-picture-container">
                    <img src="{{referral.img}}" class="review-picture"/>
                  </div>
                  <div class="reviewer-info">
                    <h3 class="review-name">{{referral.refered_by}}</h3>
                    <p class="review-date">{{referral.date}}</p>
                  </div>
                </ion-item>
                <ion-item lines="none" class="review">
                  {{referral.referral}}
                </ion-item>
              </ion-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>