.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media (max-width: 800px) {
        display: block;
    }

    @media (max-width: 400px) {
        display: flex;

    }

    .account-container {
        display: flex;
        justify-content: flex-start;
        border: 1px solid #d3d3d3;
        margin-top: 0 !important;
        margin-bottom: 30px;
        position: relative;
        margin-left: auto !important;
        margin-right: auto !important;
        box-shadow: 0 10px 15px #757575;
        height: 90%;
        width: 70%;


        @media (max-width: 1000px) {
            margin-top: 35px !important;
            margin-bottom: 20px;
            height: 85%;
        }

        @media (max-width: 800px) {
            height: unset;
            width: unset;
            margin-bottom: unset;
        }

        @media (max-width: 400px) {
            display: unset;
            width: 100%;
            height: 99%;
        }

        .left-container {
            width: 30%;
            background-color: #fafcfd;
            padding: 10px;
            box-shadow: 0 10px 15px #757575;
            z-index: 2;

            @media (max-width: 800px) {
                padding-bottom: 0;
            }

            @media (max-width: 400px) {
                width: unset;
            }

            .welcome {
                @media (max-width: 980px) {
                    font-size: 20px !important;
                    padding-left: 1rem;
                }

                @media (max-width: 800px) {
                    font-size: 16px !important;
                    padding-left: .75rem;
                }
            }

            .navbar {
                margin-bottom: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;

                @media (max-width: 800px) {
                    margin-left: unset;
                    margin-right: unset;
                }

                @media (max-width: 400px) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                .flex {
                    @media (max-width: 400px) {
                        display: flex;
                        width: 100%;
                    }

                    .account {
                        width: 100%;

                        @media (max-width: 400px) {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: start;
                            align-items: baseline;
                        }
    
                        .account-picture-container {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 20px;
        
                            .account-picture {
                                border: 4px solid #d3d3d3;
                                border-radius: 50%;
                                height: 10rem;
                                width: 10rem;
                                object-fit: cover;
                                object-position: center;
        
                                @media (max-width: 980px) {
                                    height: 8rem;
                                    width: 8rem;
                                }
        
                                @media (max-width: 800px) {
                                    height: 5rem;
                                    width: 5rem;
                                }
                            }
                        }
                    }

                    .menu-items {
                        .menu-item {
                            padding: 12px 5px;
                            margin-bottom: 5px;
                            border-left: 5px solid transparent;
                            font-weight: 700;
                            font-size: 1rem;
                            display: flex;
                            align-items: center;
        
                            @media (max-width: 980px) {
                                font-size: .8rem;
                            }
        
                            .menu-icon {
                                padding-right: 10px;
                            }
                        }
        
                        .menu-item-active {
                            font-weight: 700;
                            font-size: 1rem;
                            padding: 12px 5px;
                            margin-bottom: 5px;
                            background-color: #fff;
                            box-shadow: 0 0 10px #ddd;
                            border-left: 5px solid #F0512F;
                            display: flex;
                            align-items: center;
        
                            @media (max-width: 980px) {
                                font-size: .8rem;
                            }
                        }    
                    }
                }
                
                .log-out-btn {
                    --background: #F0512F;
                    width: 100%;
                    margin: 1rem 0rem;

                    @media (max-width: 400px) {
                        margin: unset;
                        padding: 5px 5px 15px 5px;
                    }
                }
            }
        }

        .right-container {
            width: 75%;
            padding: 10px;
            display: flex;
            justify-content: flex-start;
            background-color: #fff;

            @media (max-width: 1000px) {
                padding: 0;
            }

            @media (max-width: 400px) {
                width: 100%;
            }

            .section-title {
              margin-top: 0 !important;
              color: #F0512F;
              font-weight: 600;

                @media (max-width: 1000px) {
                    margin-bottom: 0;
                    padding-left: 14px;
                }

                @media (max-width: 800px) {
                    padding-left: 0;
                    font-size: 19px;
                }

                @media (max-width: 500px) {
                    font-size: 16px;
                }
            }

            .account-info-container, .company-info-container {
              justify-content: center;
              align-items: center;
              padding: 16px;
              width: 100%;

                @media (max-width: 1000px) {
                    padding: 8px;
                }

              .user-info, .company-info {

                .company-info-header {
                    margin-top: 20px;

                    @media (max-width: 1000px) {
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                }

                .user-info-content, .company-info-content {
                    ion-input {
                        margin-top: 15px !important;
                        height: 100%;
                        background: #e8e2e1;

                        &:focus {
                            --background-color: #fff;
                            --webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.10);
                            --moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.10);
                            --box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.10);
                        }

                        @media (max-width: 980px) {
                            height: unset;
                            margin-top: 10px !important;
                        }

                        @media (max-width: 800px) {
                            margin-top: 5px !important;
                        }
                    }

                    .two_inputs, .three_inputs {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        @media (max-width: 800px) {
                          flex-direction: column;
                          justify-content: unset;
                        }

                        ion-input {
                            margin-left: 10px;
                            margin-right: 10px;

                            @media (max-width: 1050px) {
                                margin-left: 0;
                                margin-right: 5px;
                            }

                            @media (max-width: 980px) {
                                margin-left: 0;
                                margin-right: 4px;
                            }

                            @media (max-width: 800px) {
                                margin-left: 0 !important;
                                text-indent: 20px;
                            }
                        }

                        ion-select {
                            margin-right: 12px;
                            margin-left: 12px;
                            margin-top: 15px !important;
                            background:  #e8e2e1;
                            --placeholder-color: #777473;
                            --placeholder-opacity: 1.0;

                            @media (max-width: 1050px) {
                                margin-left: 0;
                                margin-right: 5px;
                            }

                            @media (max-width: 800px) {
                                margin-left: 0 !important;
                                margin-top: 5px !important;
                            }
                        }

                        .two-input {
                          width: 50%;

                          @media (max-width: 800px) {
                            width: 100%;
                          }
                        }

                        .three-input {
                          width: 33.333%;

                          @media (max-width: 800px) {
                            width: 100%;
                          }
                        }

                        .two-input-select {
                            width: 47.5%;

                            @media (max-width: 980px) {
                                margin-right: 8px;
                                margin-left: 4px;
                                margin-top: 9px !important;
                            }

                            @media (max-width: 800px) {
                                width: 100%;
                            }
                        }

                        .three-input-select {
                            width: 31%;

                            @media (max-width: 980px) {
                                margin-right: 8px;
                                margin-left: 4px;
                                margin-top: 9px !important;
                                width: unset;
                            }

                            @media (max-width: 800px) {
                                width: 100%;
                            }
                        }
                    }

                    .update-btn {
                        --background: #F0512F;
                        margin-left: 10px;
                        margin-top: 5px;

                        @media (max-width: 1050px) {
                            height: 40px
                        }

                        @media (max-width: 980px) {
                            margin-left: 0;
                        }

                        @media (max-width: 800px) {
                            height: 30px
                        }

                        @media (max-width: 500px) {
                            font-size: 14px;
                        }
                    }
                }
              }
            }

            .payment-history-container {
                width: 100%;
                margin-bottom: 5px;
                display: flex;
                justify-content: flex-start;
                padding: 10px;

                @media (max-width: 1000px) {
                    padding: 8px;
                }

                .inner-container {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .payment-cards {
                        
                        ion-card {
                            margin: 5px;
                            // height: 125px;

                            div>h3, p {
                                line-height: 10px;
                                font-size: 1rem;
                            }

                            .payment-status {
                                margin-top: 8px;
                                text-align: center;
                            }

                            .paid {
                                border-color: #000;
                                border-width: 2px;
                                background-color: rgb(8, 151, 8);
                                border-radius: 5px;
                                height: auto;
                                padding: 3px;
                                color: #ffff;
                            }

                            .pending {
                                border-color: #000;
                                border-width: 2px;
                                background-color: #FF7F50;
                                border-radius: 5px;
                                height: auto;
                                padding: 3px;
                                color: #ffff;
                            }

                            .canceled {
                                border-color: #000;
                                border-width: 2px;
                                background-color: #FF0000;
                                border-radius: 5px;
                                height: auto;
                                padding: 3px;
                                color: #ffff;
                            }
                        }
                    }
                }
            }

            .review-container, .referral-container {
                padding: 16px;

                @media (max-width: 1000px) {
                    padding: 8px;
                }

                .inner-container {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                }

                ion-card {
                    border-radius: 10px;

                    @media (max-width: 800px) {
                        margin: 4px;
                    }

                    @media (min-width: 800px) {
                        margin: 4px;
                    }

                    .reviwer {
                        display: flex;
                        // border-bottom: 1px solid lightgrey;

                        @media (min-width: 800px) {
                            margin: -5px;
                        }
    
                        .review-picture-container {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 20px;
            
                            .review-picture {
                              border: 2px solid #d3d3d3;
                              border-radius: 50%;
                              height: 5rem;
                              width: 5rem;
                              object-fit: cover;
                              object-position: center;
                              margin-bottom: 10px;
                            }
                        }
        
                        .reviewer-info {
                            
                            .review-name {
                                margin-left: 1rem;
                                margin-top: unset;
                                margin-bottom: unset;

                                @media (max-width: 800px) {
                                    font-size: 16px;
                                }
                            }
    
                            .review-date {
                                margin-top: unset;
                                margin-left: 1rem;
                                font-size: 0.8rem;
                            }
                        }
                    }

                    .review {
                        margin: 5px;

                        @media (max-width: 800px) {
                            font-size: 14px;
                        }

                        @media (min-width: 800px) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
  }
  
  .error-container {
    text-align: center;
    width: 100%;
    border: 1px solid rgb(245, 177, 177);
    background-color: rgb(245, 177, 177);
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    transition: 0.5s ease-in;
    
    h2 {
        color: #000;
        font-weight: 500;
        font-size: 1.2rem;
    }
  }